<%= stylesheet_link_tag "top", :media => "all" %>

<div id="index_main">

    <section id="profile">
        <h2>PROFILE</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>
                    </p>Kazuhide Nakaura<p>
                </td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>
                    <p>1992 / 4 / 30</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
    </section>

    <section id="skill">
        <h2>SKILL</h2>
        <table>
            <tr>
                <th>Language</th>
                <td>
                    <p>C#</p>
                </td>
            </tr>
            <tr>
                <th>IDE</th>
                <td>
                    <p>Visual Studio</p>
                </td>
            </tr>
            <tr>
                <th>Framework</th>
                <td>.NET Framework</td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
    </section>

</div>

