<%= stylesheet_link_tag "_header", :media => "all" %>

<h1>My Portfolio</h1>
<nav class="menubar">
    <ul>
        <%= menu_link_to "Profile", :root %>
        <%= menu_link_to "Career", "#" %>
        <%= menu_link_to "About", "#" %>
    </ul>
</nav>